* {
  margin: 0;
  padding: 0;
}

body{
  font-family:'Verdana', sans-serif;
  font: Verdana;
  background:
  linear-gradient(white, #0080ff);
  background-size: 1024px 1024px
}

#bottomfooter {
  font-size: 7pt;
  font-family: Arial;
  color: #555
}

h1 {
	font: bold 20px Verdana;
}

h2 {
	font: bold 14px Verdana;
}

header, section, fooder, aside, nav, article, hgroup, div, a {
	display: block;
}

#about_wrapper {
	margin: 0px auto;
	text-align: center;
}

.top_menu {
	border: 1px solid lightgray;
	background: white;
	box-shadow: 0px 1px 1px #ededed;
	text-align: left;
	position: fixed;
	top: 0;
	width: 100%;
}

.top_menu a {
  margin: 0px 0px;
  border-right: 1px solid lightgray;
  background: white;
  font: 12px Verdana;
  color: gray;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
}

.top_menu a:hover {
  background: #f2f2f2;
  color: gray;
  animation: ease;
}

#about_wrapper {
	margin-top: 44px;
}

.name {
  padding: 10px;
}

.bio {
  color: #808080;
  padding: 4px;
  text-align: center;
}
